tokensCap: 200
tokensRechargeAmount: 20
tokensRechargePeriod: 7200 # 2 hours
brawlerUpgradeCost: [20, 35, 75, 140, 290, 480, 800, 1250]
coinPacksCost: [20, 50, 140, 280]
coinPacksValue: [150, 400, 1200, 2600]
brawlBoxTokenCost: 100
bigBoxTokenCost: 10
tokenDoublerCost: 50
tokenDoublerAmount: 1000
minimumTrophiesForReset: 550
defaultTutorialStep: 2
